:host{
    width: 90%;
    min-width: 60%;
    
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 20px;
    flex: 1;
}
@media only screen and (max-width: 801px) {
    :host {
        max-width: 545.5px;
    }
    
  }


textarea{
    border: 2px solid var(--white);
    border-radius: 4px;

    background-color: transparent;
    padding: 10px 0px 10px 40px;
    color: var(--white);
    font-size: 1.2rem;
}

textarea:focus{
    outline: none;
}