<div class="calendar-wrapper" *ngIf="calendarEvent.open">
  <div class="row" *ngFor="let week of [7, 14, 21, 28, 35]; let i = index">
    <div
      class="date"
      *ngFor="let date of filteredDates(week); let y = index"
      (click)="dateClicked($event, y, i)"
      (touch)="dateClicked($event, y, i)"
      [ngClass]="{
        selectedDate: datesEqual(date, 'se'),
        today: datesEqual(date, '')
      }"
    >
      {{ date.getDate() }}
    </div>
    <ng-container *ngIf="week > 28">
      <button id="action-left" class="left" (click)="monthChange($event)">
        {{ MONTHS_LABELS[rotatingDate.getMonth()] }}
      </button>
      <button id="action-right" class="right" (click)="setShowYearsTrue($event)">
        {{ rotatingDate.getFullYear() }}
      </button>
    </ng-container>
  </div>
</div>
<div #toscroll  class="years-wrapper-scroll" *ngIf="getShowYears()">
  <div #toscrollCont class="years-wrapper">
    <button (click)="yearChange($event,year)" class="year" *ngFor="let year of years">
      {{ year.getFullYear() }}
    </button>
  </div>
</div>
