
<div class="row">
  <span class="label">Name:</span>
  <span class="value">{{ firstName }}</span>
</div>
<div class="row">
  <span  class="label">Last Name:</span>
  <span>{{ lastName }}</span>
</div>
<div class="row">
  <span  class="label">Gitlab id:</span>
  <span>{{ gitlab }}</span>
</div>
<div class="row">
  <span  class="label">kaggle id:  </span>
  <span>{{ kaggle }}</span>
</div>
<div class="row">
  <span  class="label">Registration Date:</span>
  <span>{{ registrationDate }}</span>
</div>
<div *ngIf="!!bdate" class="row">
  <span  class="label">Birth Date:</span>
  <span>{{ bdate }}</span>
</div>
<div *ngIf="!!gender" class="row">
  <span  class="label">Gender:</span>
  <span>{{ gender }}</span>
</div>
<div *ngIf="!!about" class="row">
  <span  class="label">About:</span>
  <span>{{ about }}</span>
</div>
<div *ngIf="!!thinks && thinks?.length != 0" class="row">
  <span  class="label">Thinks:</span>
  <div *ngFor="let think of thinks">
  <span>{{ think?.title }}</span>
  </div>
</div>
