
<div class="row">
  <span class="label">Name:</span>
  <span class="value">{{ firstName }}</span>
</div>
<div class="row">
  <span  class="label">Last Name:</span>
  <span>{{ lastName }}</span>
</div>
<div class="row">
  <span  class="label">Gitlab id:</span>
  <span>{{ gitlab }}</span>
</div>
<div class="row">
  <span  class="label">kaggle id:  </span>
  <span>{{ kaggle }}</span>
</div>
<div class="row">
  <span  class="label">Registration Date:</span>
  <span>{{ registrationDate }}</span>
</div>
<div *ngIf="bdate != ''" class="row">
  <span  class="label">Birt Date:</span>
  <span>{{ bdate }}</span>
</div>
