:host{
    font-size: 5rem;
    height: fit-content;
    width: fit-content;
    position: relative;
    padding: 5px;

    display: flex;
    
    animation-name: in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    white-space: nowrap;
}
@media only screen and (max-width: 600px) {
    :host{
        font-size: 2rem !important;
    }
    span{
        color: var(--white) !important;
     }
}
span{
   color: var(--green);
}

@keyframes in {
    0%{gap: 100%;}
    100%{gap:20px;}
}
