<app-title
  title="Register Here"
  special=">"
  [specialColored]="true"
></app-title>

<div class="content-wrapper">
  <div style="height: 120px;width: 100%; position: relative;">
    <p class="descrition">
      Welcome to Hacktoberfest 2024 <br />Fill in your information in order to
      <br *ngIf="mobile" />
      register
    </p>
  </div>
  
  <form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()">
    <app-input 
      specialCharacter=">" 
      placeholder="enter your name" 
      label="Name *" 
      name="firstName" 
      [form]="registrationForm"
    ></app-input>
    <app-input 
      specialCharacter=">" 
      placeholder="enter your name" 
      label="Last Name *" 
      name="lastName" 
      [form]="registrationForm"
      ></app-input>
    <app-input 
      specialCharacter=">" 
      placeholder="enter your gitlab id" 
      label="Gitlab ID *" 
      name="gitlab" 
      [form]="registrationForm"
    ></app-input>
    <app-input 
      specialCharacter=">" 
      placeholder="enter your kaggle id" 
      label="Kaggle ID *" 
      name="kaggle" 
      [form]="registrationForm"
    ></app-input>
    
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <small >First Name is required.</small>
    </div>
    <div class="button-wrapper">
      <button class="submit-button" type="submit" [disabled]="registrationForm.invalid">Submit</button>
    </div>
  </form>
</div>
