:host{
    width: 100%;
    max-width: 545.5px;
    min-width: 45%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 20px;
    flex: 0.5;
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    :host{
        gap:13px;
    }
    .label{
        font-size: 1rem !important;
        font-weight: 100;
    }

    .error-wrapper{
        top: 13px !important;
    }
    
}
.label{
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--white);
}
input{
    width: 90%;
    height: fit-content;
    font-size: 1.2rem;
    
    border: 2px solid var(--white);
    border-radius: 4px;

    background-color: transparent;
    padding: 10px 0px 10px 40px;
    color: var(--white);
}

input:focus{
    outline: none;
}

.special{
    font-size: 30px;
    color: var(--white);
    position: absolute;
    left: 38px;
    bottom: 5px;
}

.jump-out{
    animation-name: jumpout;

    animation-duration: 0.4s;
}
.jump-in{
    animation-name: jumpin;

    animation-duration: 0.4s;
}


@keyframes jumpin {
    0%{ top: 150%;}
    10%{ top: 60%;}
    20%{ top: 45%;}
    50%{ top: 52%;}
    70%{ top: 58%;}
    80%{ top: 67%;}
    100%{ top: 70%;}  
}

@keyframes jumpout {
    0%{ top: 70%;}
    10%{ top: 60%;}
    20%{ top: 45%;}
    50%{ top: 52%;}
    70%{ top: 88%;}
    80%{ top: 100%;}
    100%{ top: 150%;}  
}

.error{
    border: 3px solid var(--pink);
}

.error-wrapper{
    position: absolute;
    small{
        color: var(--green);
    }
    animation-name: d;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    
}

@keyframes d {
    0%{top:-20px}
    100%{top:25px}
}