<ng-container [formGroup]="form">
  <span class="label">{{ label }}</span>
  <input
    [id]="name"
    [formControlName]="name"
    type="text"
    [placeholder]="placeholder"
    (focusin)="focused($event, true)"
    (focusout)="focused($event, false)"
    [ngClass]="{
      'error':
        form.get(name)?.invalid &&
        (form.get(name)?.dirty || form.get(name)?.touched)
    }"
  />
  <div class="error-wrapper" *ngIf="error">
    <small>{{errorText}}</small>
  </div>
  <ng-container *ngIf="!focusedOnInput && specialCharacter != ''">
    <span [id]="'special-' + label" class="special jump-in">{{
      specialCharacter
    }}</span>
  </ng-container>
</ng-container>
