:root {
    --black: #1C1C1C;
    --green: #50DA4C;
    --peige: #DDBB8E;
    --pink:  #C401C4;
    --light-pink: #FF8BFF;
    --white:#D1E2E8;
    --frozen-white: #F3F0E0;

}
@font-face {
    font-family: myFont;
    src: url("/assets/fonts/SpaceGrotesk-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: myFont;
    overflow: hidden;
    color: var(--white);
}

body{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }