<app-title title="Participants" special=">" [specialColored]="true"></app-title>


<div class="participants-wrapper">
  <span *ngIf="fetchingData" class="loader"></span>
  <app-title *ngIf="participants.length === 0 && !fetchingData" [title]="message" special="*" [specialColored]="true"></app-title>

  <app-participant
    *ngFor="let participant of participants; let i = index"
    [id]="'p-' + i"
    [firstName]="participant.firstName"
    [lastName]="participant.lastName"
    [gitlab]="participant.gitlab"
    [kaggle]="participant.kaggle"
    [registrationDate]="participant.registrationDate"
    [date]="participant.date"
    [gender]="participant.gender"
    [about]="participant.about"
    [thinks]="participant.thinks"
  ></app-participant>
</div>
